html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#container {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  padding-top: 32px;
  box-sizing: border-box;
}

.row {
  display: flex;
  flex-direction: row;
  padding-left: 32px;
  margin-bottom: 32px;
}

.draggable-item {
  margin-left: 32px;
  margin-bottom: 32px;
  width: 112px;
  height: 112px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 18px;
  font-family: sans-serif;
}

.draggable-item.red {
  background-color: #f24726;
}

.draggable-item.green {
  background-color: #0ca788;
}

.image-box img {
  max-width: 112px;
  max-height: 112px;
  cursor: pointer;
}

.quote {
  border-radius: 4px;
  border: 1px solid grey;
  display: flex;
  flex-direction: column;
  color: black;
}

.quote:hover {
  cursor: grab;
}

.quote__text {
  text-align: center;
  margin-bottom: 1rem;
}

.quote__tag {
  border-radius: 4px;
  padding: 0.2rem 1rem;
  background-color: grey;
  color: white;
  font-size: 0.8rem;
}